spring:
  datasource:
    url: jdbc:h2:mem:banksecure
    driverClassName: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true

  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true